In [27]:
import osmnx as ox
import matplotlib.pyplot as plt
import geopandas as gp
import networkx as nx
import os.path
from os import path
import pathlib
import pandas as pd
ox.config(log_console=True, use_cache=True)

# Story Helper to calculate some deskriptive analysis

## None IsoChrones

In [28]:
df = gp.read_file("../results/berlin-bicycleedges-important-ways.geojson")

In [29]:
df

        length    color                                           geometry
0      119.805  #0800ff  LINESTRING (13.33737 52.55878, 13.33725 52.558...
1       10.295  #0800ff  LINESTRING (13.33607 52.55952, 13.33597 52.55945)
2      112.639  #0800ff  LINESTRING (13.33607 52.55952, 13.33578 52.559...
3       13.660  #0800ff  LINESTRING (13.33064 52.56262, 13.33047 52.56255)
4       42.844  #0800ff  LINESTRING (13.33064 52.56262, 13.33075 52.562...
...        ...      ...                                                ...
32363   22.319  #0800ff  LINESTRING (13.42429 52.46359, 13.42444 52.463...
32364   31.589  #0800ff  LINESTRING (13.42429 52.46359, 13.42421 52.463...
32365   16.447  #0800ff  LINESTRING (13.44526 52.46208, 13.44536 52.46195)
32366    6.324  #91ff00  LINESTRING (13.50087 52.43517, 13.50081 52.43521)
32367   74.499  #91ff00  LINESTRING (13.50087 52.43517, 13.50091 52.435...

[32368 rows x 3 columns]

In [30]:
df.mean(axis=0)

length    81.079923
dtype: float64

In [31]:
df.max(axis=0)

length     1727.8
color     #ff0000
dtype: object

In [32]:
df.min(axis=0)

length      0.108
color     #0800ff
dtype: object

# IsoCHrones

### Drive

In [21]:
df = gp.read_file("../results/isochrones-drive-15.geojson")
print("Drive\nMinimum: "+str(df.min(axis=0)))
print("Maximum: "+str(df.max(axis=0)))
print("Mean: "+str(df.mean(axis=0)))

Drive
Minimum: mean_spatial_distance_15min    0.0
dtype: float64
Maximum: mean_spatial_distance_15min    20494.20539
dtype: float64
Mean: mean_spatial_distance_15min    13359.712571
dtype: float64

In [41]:
df = gp.read_file("../results/isochrones-bike-15.geojson")
print("Bike\nMinimum: "+str(df.min(axis=0)))
print("Maximum: "+str(df.max(axis=0)))
print("Mean: "+str(df.mean(axis=0)))

print(3.050*4)

Bike
Minimum: max_spatial_distance_15min       851.008137
mean_spatial_distance_15min      645.939202
median_spatial_distance_15min    250.175503
min_spatial_distance_15min        31.873245
dtype: float64
Maximum: max_spatial_distance_15min       3958.531757
mean_spatial_distance_15min      3280.540820
median_spatial_distance_15min    3311.365349
min_spatial_distance_15min       2963.547828
dtype: float64
Mean: max_spatial_distance_15min       3050.264385
mean_spatial_distance_15min      2599.437823
median_spatial_distance_15min    2606.050477
min_spatial_distance_15min       2094.306263
dtype: float64
12.2

In [16]:
df = gp.read_file("../results/isochrones-subway-15.geojson")
print("Subway\nMinimum: "+str(df.min(axis=0)))
print("Maximum: "+str(df.max(axis=0)))
print("Mean: "+str(df.mean(axis=0)))

Subway
Minimum: max_spatial_distance_15min       417.137234
mean_spatial_distance_15min      269.283978
median_spatial_distance_15min    133.297778
min_spatial_distance_15min        10.507125
dtype: float64
Maximum: max_spatial_distance_15min       7095.074365
mean_spatial_distance_15min      5606.464461
median_spatial_distance_15min    5585.814196
min_spatial_distance_15min       3800.467491
dtype: float64
Mean: max_spatial_distance_15min       1693.778844
mean_spatial_distance_15min      1342.316392
median_spatial_distance_15min    1331.585952
min_spatial_distance_15min        978.842195
dtype: float64

In [22]:
df = gp.read_file("../results/isochrones-light_rail-15.geojson")
print("Light-Rail\nMinimum: "+str(df.min(axis=0)))
print("Maximum: "+str(df.max(axis=0)))
print("Mean: "+str(df.mean(axis=0)))

Light-Rail
Minimum: max_spatial_distance_15min       819.414045
mean_spatial_distance_15min      381.945490
median_spatial_distance_15min    133.932960
min_spatial_distance_15min        10.507125
dtype: float64
Maximum: max_spatial_distance_15min       22585.663981
mean_spatial_distance_15min      17067.390347
median_spatial_distance_15min    17745.460195
min_spatial_distance_15min       12512.964772
dtype: float64
Mean: max_spatial_distance_15min       3930.274886
mean_spatial_distance_15min      2771.390157
median_spatial_distance_15min    2722.829440
min_spatial_distance_15min       1542.688384
dtype: float64

In [24]:
df = gp.read_file("../results/isochrones-tram-15.geojson")
print("Tram\nMinimum: "+str(df.min(axis=0)))
print("Maximum: "+str(df.max(axis=0)))
print("Mean: "+str(df.mean(axis=0)))

Tram
Minimum: max_spatial_distance_15min       417.137234
mean_spatial_distance_15min      269.283978
median_spatial_distance_15min    133.297778
min_spatial_distance_15min        10.507125
dtype: float64
Maximum: max_spatial_distance_15min       4584.803939
mean_spatial_distance_15min      3818.965111
median_spatial_distance_15min    4158.060004
min_spatial_distance_15min       3081.691815
dtype: float64
Mean: max_spatial_distance_15min       1654.891579
mean_spatial_distance_15min      1347.455641
median_spatial_distance_15min    1346.041221
min_spatial_distance_15min       1005.463447
dtype: float64

In [23]:
df = gp.read_file("../results/isochrones-bus-15.geojson")
print("Bus\nMinimum: "+str(df.min(axis=0)))
print("Maximum: "+str(df.max(axis=0)))
print("Mean: "+str(df.mean(axis=0)))

Bus
Minimum: max_spatial_distance_15min       417.137234
mean_spatial_distance_15min      265.746092
median_spatial_distance_15min    151.173129
min_spatial_distance_15min        19.303006
dtype: float64
Maximum: max_spatial_distance_15min       4747.427442
mean_spatial_distance_15min      4079.301644
median_spatial_distance_15min    4242.477085
min_spatial_distance_15min       3671.868479
dtype: float64
Mean: max_spatial_distance_15min       3533.773053
mean_spatial_distance_15min      2930.466171
median_spatial_distance_15min    2960.161526
min_spatial_distance_15min       2166.464180
dtype: float64

## Lebensräume

In [51]:
df = gp.read_file("../results/berlin-inhabitants-centerpoints-top5.geojson")

In [52]:
#df = df.sort_values(by='einwohner', ascending=False).head(10)

In [53]:
df

,plz,first_dig_plz,einwohner,area_m2,area_km2,einwohner_km2,einwohner_m2,geometry
0,10623,1,5680,8518.534412,0.008519,666781.365,0.666781,POINT (13.31943 52.50234)
1,12107,1,19767,33683.063698,0.033683,586852.793,0.586853,POINT (13.40439 52.44134)
2,12623,1,27373,60427.724456,0.060428,452987.437,0.452987,POINT (13.57961 52.48101)
3,12679,1,25823,58814.767518,0.058815,439056.398,0.439056,POINT (13.57525 52.54533)
4,12305,1,20742,121144.852985,0.121145,171216.519,0.171217,POINT (13.41718 52.40546)

##  Standard Deviation

In [54]:
df = gp.read_file("../results/berlin-inhabitants-improved.geojson")

In [63]:
print("Bus\nMinimum: "+str(df.min(axis=0)))
print("Maximum: "+str(df.max(axis=0)))
print("Mean: "+str(df.mean(axis=0)))

Bus
Minimum: plz                   10115
first_dig_plz             1
einwohner                 1
area_m2             2820.62
area_km2         0.00282062
einwohner_km2        94.607
einwohner_m2        9.5e-05
dtype: object
Maximum: plz                    14199
first_dig_plz              1
einwohner              35353
area_m2          3.76183e+07
area_km2             37.6183
einwohner_km2         666781
einwohner_m2        0.666781
dtype: object
Mean: plz                        inf
first_dig_plz    5.611672e+194
einwohner         1.730370e+04
area_m2           4.501250e+06
area_km2          4.501250e+00
einwohner_km2     2.044887e+04
einwohner_m2      2.044890e-02
dtype: float64

In [59]:
top = df.sort_values(by='einwohner_km2', ascending=False).head(1)
tail = df.sort_values(by='einwohner_km2', ascending=False).tail(1)
mean = 2.044887*10000

In [60]:
mean

20448.870000000003

In [62]:
abw = top.einwohner_km2[0] - tail.einwohner_km2[0]
abw

KeyError: 0

In [58]:
print("Mean: "+str(df.mean(axis=0)))

Mean: plz                        inf
first_dig_plz    5.611672e+194
einwohner         1.730370e+04
area_m2           4.501250e+06
area_km2          4.501250e+00
einwohner_km2     2.044887e+04
einwohner_m2      2.044890e-02
dtype: float64

In [ ]:
deviations = [(x - mean) ** 2 for x in data]

## Industrial

In [45]:
df = gp.read_file("../results/residential.geojson")

In [46]:
df

,id,@id,landuse,name,type,is_in,place,wikidata,wikipedia,reg_name,...,religion,fence_type,alt_name2,contact:phone,building:levels,traffic_island,name:etymology:wikidata,crossing,@relations,geometry
0,relation/19962,relation/19962,residential,Buch IV,multipolygon,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,"POLYGON ((13.49105 52.63147, 13.48827 52.62938..."
1,relation/38487,relation/38487,residential,None,multipolygon,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,"POLYGON ((13.22365 52.40662, 13.22376 52.40597..."
2,relation/57594,relation/57594,residential,None,multipolygon,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,"POLYGON ((13.66087 52.41268, 13.66075 52.41277..."
3,relation/67993,relation/67993,residential,None,multipolygon,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,"POLYGON ((13.45222 52.49024, 13.45354 52.48931..."
4,relation/75605,relation/75605,residential,None,multipolygon,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,"POLYGON ((13.57454 52.52783, 13.57479 52.52895..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7902,way/887400476,way/887400476,residential,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,"POLYGON ((13.73620 52.42931, 13.73590 52.42871..."
7903,way/887654044,way/887654044,residential,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,"POLYGON ((13.29687 52.45270, 13.29726 52.45255..."
7904,way/887654045,way/887654045,residential,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,"POLYGON ((13.29810 52.45330, 13.29835 52.45353..."
7905,way/217186438,way/217186438,residential,Treskowhöfe,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,"[ { ""role"": ""inner"", ""rel"": 5738069, ""reltags""...","POLYGON ((13.52606 52.49165, 13.52566 52.49041..."
7906,way/880770433,way/880770433,residential,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,"LINESTRING (13.56858 52.38896, 13.56700 52.388..."