In [312]:
import osmnx as ox
import matplotlib.pyplot as plt
import geopandas as gp
import networkx as nx
import os.path
from os import path
import pathlib
import pandas as pd
import json
from points_in_polygons import if_point_inpolygon, if_points_in_polygonlist, count_points_in_polygonlist, if_points_in_polygon
ox.config(log_console=True, use_cache=True)
from shapely.geometry import Point, Polygon


import warnings

warnings.filterwarnings('ignore')

# Story Helper to calculate some deskriptive analysis for white spots

## None IsoChrones

In [100]:
df = gp.read_file("../results/berlin-inhabitants-improved.geojson")

In [101]:
# Get the centroid of the Polygon
poly_centroid = df.geometry[0].centroid

# Get the area of the Polygon
poly_area = df.geometry[0].area

# Get the bounds of the Polygon (i.e. bounding box)
poly_bbox = df.geometry[0].bounds

# Get the exterior of the Polygon
poly_ext = df.geometry[0].exterior

# Get the length of the exterior
poly_ext_length = df.geometry[0].length

In [102]:
#print("Poly centroid: ", poly_centroid)
#print("Poly Area: ", poly_area)
#print("Poly Bounding Box: ", poly_bbox)
#print("Poly Exterior: ", poly_ext)
#print("Poly Exterior Length: ", poly_ext_length)

In [103]:
plist = df.geometry[0:2].tolist()
plist

[<shapely.geometry.polygon.Polygon at 0x242ea23a9a0>,
 <shapely.geometry.polygon.Polygon at 0x242ea23a700>]

In [104]:
pointlist = [(13.08835, 52.41963), (13.08835, 52.41963)]

In [105]:
countliste = if_points_in_polygon(df.geometry[0],pointlist)

In [106]:
countliste

[True, True]

In [107]:
df

,plz,first_dig_plz,einwohner,area_m2,area_km2,einwohner_km2,einwohner_m2,geometry
0,14109,1,10049,2.522886e+07,25.228865,398.314,0.000398,"POLYGON ((13.08835 52.41963, 13.09584 52.42198..."
1,14089,1,17734,2.488821e+07,24.888210,712.546,0.000713,"POLYGON ((13.10929 52.45063, 13.10956 52.45108..."
2,13591,1,26762,8.988007e+06,8.988007,2977.523,0.002978,"POLYGON ((13.11738 52.51706, 13.11811 52.52010..."
3,13587,1,20108,1.747880e+07,17.478802,1150.422,0.001150,"POLYGON ((13.12796 52.58313, 13.12934 52.58593..."
4,13593,1,20238,4.561552e+06,4.561552,4436.647,0.004437,"POLYGON ((13.14288 52.52181, 13.14306 52.52179..."
...,...,...,...,...,...,...,...,...
193,12559,1,1,2.820620e+03,0.002821,354.532,0.000355,"POLYGON ((13.58139 52.44185, 13.58151 52.44239..."
194,12559,1,17643,3.761828e+07,37.618275,469.001,0.000469,"POLYGON ((13.58177 52.44236, 13.58248 52.44299..."
195,12627,1,35353,3.985389e+06,3.985389,8870.652,0.008871,"POLYGON ((13.59131 52.53367, 13.59148 52.53485..."
196,12587,1,17717,1.529608e+07,15.296081,1158.271,0.001158,"POLYGON ((13.59408 52.45418, 13.59430 52.45452..."
197,12589,1,9236,2.144565e+07,21.445649,430.670,0.000431,"POLYGON ((13.65676 52.43742, 13.66248 52.44738..."

In [108]:
dfnew = df[df.plz == '14089']# & (df.plz == '13593')]#,'13595','13581','13591','13589','13587','12559','12527','12557'

#14089, 13593, 13595, 13581, 13591, 13589, 13587, 12559, 12527, 12557, 13159

In [109]:
dfnew = dfnew.append(df[df.plz == '13593'])
dfnew = dfnew.append(df[df.plz == '13595'])
dfnew = dfnew.append(df[df.plz == '13581'])
dfnew = dfnew.append(df[df.plz == '13591'])
dfnew = dfnew.append(df[df.plz == '13589'])
dfnew = dfnew.append(df[df.plz == '13587'])
dfnew = dfnew.append(df[df.plz == '12559'])
dfnew = dfnew.append(df[df.plz == '12527'])
dfnew = dfnew.append(df[df.plz == '12557'])
dfnew = dfnew.append(df[df.plz == '13159'])
dfnew

In [121]:
dfnew.to_file('../results/berlin-plz-whitespots',driver='GeoJSON')

In [39]:
# making boolean series for a team name 
#filter1 = df['plz'] == '14089'
#filter2 = df['plz'] == '13593'
  
# making boolean series for age 
#dfnew = df
  
# filtering data on basis of both filters 
#dfnew = df.where(filter1 & filter2)
#dfnew

In [57]:
#dfnew = df
#dfnew.set_index("plz", inplace=True)
#print(df.loc['13593'])

#op = df.loc[(df['plz'] == 13593)]
#print(op)

In [59]:
#dfnew

In [126]:
df_poly = gp.read_file("../results/berlin-plz-whitespots")

In [291]:
# Opening JSON file 
f = open('../results/isochrones-all-15.geojson',) 
  
# returns JSON object as  
# a dictionary 
data = json.load(f)

In [292]:
#new = data['features'][6]

In [293]:
#new['geometry']['coordinates'][0]

In [294]:
#print(float(data['features'][0]['geometry']['coordinates'][0]))
#print(float(data['features'][0]['geometry']['coordinates'][1]))

In [295]:
#
#for i in range(len(data['features'])):
    #print(data['features'][i])
#    Point(float(data['features'][i]['geometry']['coordinates'][0]),float(data['features'][i]['geometry']['coordinates'][1]))
    #print(float(data['features'][i]['geometry']['coordinates'][0]))
    #print(float(data['features'][i]['geometry']['coordinates'][1]))

In [308]:
#df_points_helper = gp.read_file("../results/isochrones-drive-15.geojson",driver='GeoJSON')
df_points = gp.read_file("../results/isochrones-all-15.geojson",driver='GeoJSON')
df_points_helper = gp.read_file("../results/sample-points.geojson",driver='GeoJSON')
#df_points = pd.read_json("../results/isochrones-bus-15.geojson", orient='values')
#data = json.loads("../results/isochrones-bus-15.geojson")
df_points['geometry'] = df_points_helper['geometry']

In [306]:
len(df_points['geometry'])

10000

In [307]:
len(df_points_helper['geometry'])

10000

In [309]:
df_points

,max_spatial_distance_15min,mean_spatial_distance_15min,median_spatial_distance_15min,min_spatial_distance_15min,geometry
0,4127.491167,3522.822971,3506.772727,2858.656213,POINT (13.40766 52.39305)
1,3262.028274,2850.713788,2814.454337,2307.601951,POINT (13.29389 52.62069)
2,3462.946762,2944.289695,3035.600888,2369.720032,POINT (13.55983 52.39874)
3,5436.461779,4457.479723,4503.619726,3339.721516,POINT (13.32518 52.48467)
4,1371.635107,1147.815859,1192.101357,861.801493,POINT (13.46647 52.66642)
...,...,...,...,...,...
9995,4640.791243,3652.745672,3620.155120,2004.019855,POINT (13.26623 52.51403)
9996,6399.635543,5117.285188,4837.317981,3384.127667,POINT (13.33180 52.46694)
9997,8294.163576,5176.036634,4616.139931,3249.039818,POINT (13.59042 52.51521)
9998,4094.889279,3069.446486,3200.077663,1819.202288,POINT (13.39571 52.44361)
9999,3089.350275,2693.747930,2727.824224,1593.610090,POINT (13.23582 52.54467)

In [230]:
df_points

      mean_spatial_distance_15min                   geometry
0                    11522.432751  POINT (13.40766 52.39305)
1                    10781.900425  POINT (13.29389 52.62069)
2                    13287.969378  POINT (13.55983 52.39874)
3                    16999.419763  POINT (13.32518 52.48467)
4                    10459.671552  POINT (13.63787 52.51725)
...                           ...                        ...
9670                 17441.135464  POINT (13.26623 52.51403)
9671                 16221.530785  POINT (13.33180 52.46694)
9672                 11994.565152  POINT (13.59042 52.51521)
9673                 13543.151878  POINT (13.39571 52.44361)
9674                 14248.182297  POINT (13.23582 52.54467)

[9675 rows x 2 columns]

In [124]:
df_points['whitespot_plz'] = False
df_points

In [143]:
if_point_inpolygon(df_poly.geometry[0], df_points.geometry[0])

False

## Function to calculate from the sum of the mean from isochrone analysis

In [310]:
def add_mean_spatial_to_plz_whitespot(postal_poly,dataname):
    # drive
    df_points = gp.read_file("../results/isochrones-"+str(dataname)+"-15.geojson",driver='GeoJSON')
    df_points_helper = gp.read_file("../results/sample-points.geojson",driver='GeoJSON')
    #df_points = pd.read_json("../results/isochrones-bus-15.geojson", orient='values')
    #data = json.loads("../results/isochrones-bus-15.geojson")
    df_points['geometry'] = df_points_helper['geometry']
    
    postal_poly['mean_spatial_distance_15min'] = 0.0
    postal_poly['median_spatial_distance_15min']= 0.0
    postal_poly['max_spatial_distance_15min']= 0.0
    postal_poly['min_spatial_distance_15min']= 0.0
    postal_poly['q5_spatial_distance_15min']= 0.0
    postal_poly['q10_spatial_distance_15min']= 0.0
    postal_poly['q15_spatial_distance_15min']= 0.0
    postal_poly['q25_spatial_distance_15min']= 0.0
    postal_poly['q50_spatial_distance_15min']= 0.0
    postal_poly['q75_spatial_distance_15min']= 0.0
    postal_poly['q95_spatial_distance_15min']= 0.0
    postal_poly['q99_spatial_distance_15min']= 0.0
    
    #mean_count = []
    #print(postal_poly)
    for i in range(len(postal_poly)):
        mean_count = []
        for j in range(len(df_points)):
            if if_point_inpolygon(postal_poly.geometry[i], df_points.geometry[j]):
                mean_count.append(df_points.mean_spatial_distance_15min[j])
        postal_poly['mean_spatial_distance_15min'][i] = measure.mean()
        postal_poly['median_spatial_distance_15min'][i] = measure.median()
        postal_poly['max_spatial_distance_15min'][i] = measure.max()
        postal_poly['min_spatial_distance_15min'][i] = measure.min()
        postal_poly['q5_spatial_distance_15min'][i] = measure.quantile(q=0.05)
        postal_poly['q10_spatial_distance_15min'][i] = measure.quantile(q=0.1)
        postal_poly['q15_spatial_distance_15min'][i] = measure.quantile(q=0.15)
        postal_poly['q25_spatial_distance_15min'][i] = measure.quantile(q=0.25)
        postal_poly['q50_spatial_distance_15min'][i] = measure.quantile(q=0.50)
        postal_poly['q75_spatial_distance_15min'][i] = measure.quantile(q=0.75)
        postal_poly['q95_spatial_distance_15min'][i] = measure.quantile(q=0.95)
        postal_poly['q99_spatial_distance_15min'][i] = measure.quantile(q=0.99)
    postal_poly.to_file('../results/berlin-plz-whitespots-'+str(dataname)+'-analysis-15min.geojson',driver='GeoJSON')
    return mean_count

In [317]:
datanames = ["all","drive","bike","bus","light_rail","subway","tram"]

for i in range(len(datanames)):
        add_mean_spatial_to_plz_whitespot(df_poly, datanames[i])
#type(measure)

In [202]:
dataname = "drive"
df_test = gp.read_file('../results/berlin-plz-whitespots-'+str(dataname)+'-analysis-15min.geojson')
df_test

,plz,first_dig_plz,einwohner,area_m2,area_km2,einwohner_km2,einwohner_m2,mean_spatial_distance_15min,median_spatial_distance_15min,max_spatial_distance_15min,min_spatial_distance_15min,q5_spatial_distance_15min,q10_spatial_distance_15min,q15_spatial_distance_15min,q25_spatial_distance_15min,q50_spatial_distance_15min,q75_spatial_distance_15min,q95_spatial_distance_15min,q99_spatial_distance_15min,geometry
0,14089,1,17734,2.488821e+07,24.888210,712.546,0.000713,11466.823723,12104.840663,13511.893792,0.0,9039.922949,10713.858743,11060.242925,11425.880429,12104.840663,12412.171885,13229.674334,13383.602613,"POLYGON ((13.10929 52.45063, 13.10956 52.45108..."
1,13593,1,20238,4.561552e+06,4.561552,4436.647,0.004437,11466.823723,12104.840663,13511.893792,0.0,9039.922949,10713.858743,11060.242925,11425.880429,12104.840663,12412.171885,13229.674334,13383.602613,"POLYGON ((13.14288 52.52181, 13.14306 52.52179..."
2,13595,1,19966,5.294865e+06,5.294865,3770.823,0.003771,11466.823723,12104.840663,13511.893792,0.0,9039.922949,10713.858743,11060.242925,11425.880429,12104.840663,12412.171885,13229.674334,13383.602613,"POLYGON ((13.17354 52.50851, 13.17399 52.50926..."
3,13581,1,14355,3.942352e+06,3.942352,3641.227,0.003641,11466.823723,12104.840663,13511.893792,0.0,9039.922949,10713.858743,11060.242925,11425.880429,12104.840663,12412.171885,13229.674334,13383.602613,"POLYGON ((13.15664 52.53667, 13.15679 52.53734..."
4,13591,1,26762,8.988007e+06,8.988007,2977.523,0.002978,11466.823723,12104.840663,13511.893792,0.0,9039.922949,10713.858743,11060.242925,11425.880429,12104.840663,12412.171885,13229.674334,13383.602613,"POLYGON ((13.11738 52.51706, 13.11811 52.52010..."
5,13589,1,21103,6.903208e+06,6.903208,3056.984,0.003057,11466.823723,12104.840663,13511.893792,0.0,9039.922949,10713.858743,11060.242925,11425.880429,12104.840663,12412.171885,13229.674334,13383.602613,"POLYGON ((13.14345 52.55039, 13.14350 52.55090..."
6,13587,1,20108,1.747880e+07,17.478802,1150.422,0.001150,11466.823723,12104.840663,13511.893792,0.0,9039.922949,10713.858743,11060.242925,11425.880429,12104.840663,12412.171885,13229.674334,13383.602613,"POLYGON ((13.12796 52.58313, 13.12934 52.58593..."
7,12559,1,1,2.820620e+03,0.002821,354.532,0.000355,11466.823723,12104.840663,13511.893792,0.0,9039.922949,10713.858743,11060.242925,11425.880429,12104.840663,12412.171885,13229.674334,13383.602613,"POLYGON ((13.58139 52.44185, 13.58151 52.44239..."
8,12559,1,17643,3.761828e+07,37.618275,469.001,0.000469,11466.823723,12104.840663,13511.893792,0.0,9039.922949,10713.858743,11060.242925,11425.880429,12104.840663,12412.171885,13229.674334,13383.602613,"POLYGON ((13.58177 52.44236, 13.58248 52.44299..."
9,12527,1,9425,2.620787e+07,26.207873,359.625,0.000360,11466.823723,12104.840663,13511.893792,0.0,9039.922949,10713.858743,11060.242925,11425.880429,12104.840663,12412.171885,13229.674334,13383.602613,"POLYGON ((13.55431 52.42579, 13.55542 52.42590..."
10,12557,1,21494,8.095616e+06,8.095616,2655.017,0.002655,11466.823723,12104.840663,13511.893792,0.0,9039.922949,10713.858743,11060.242925,11425.880429,12104.840663,12412.171885,13229.674334,13383.602613,"POLYGON ((13.55915 52.44178, 13.56040 52.44222..."
11,13159,1,1762,1.093987e+07,10.939874,161.062,0.000161,11466.823723,12104.840663,13511.893792,0.0,9039.922949,10713.858743,11060.242925,11425.880429,12104.840663,12412.171885,13229.674334,13383.602613,"POLYGON ((13.36691 52.62544, 13.36697 52.62547..."

In [193]:
print(measure.median())
print(measure.mean())
print(measure.max())
print(measure.min())
print(measure.quantile(q=0.05))
print(measure.quantile(q=0.1))
print(measure.quantile(q=0.15))
print(measure.quantile(q=0.25))
print(measure.quantile(q=0.5))
print(measure.quantile(q=0.75))
print(measure.quantile(q=0.95))
print(measure.quantile(q=0.99))

0    12140.573855
dtype: float64
0    11676.908536
dtype: float64
0    15556.950175
dtype: float64
0    0.0
dtype: float64
0    8181.585127
Name: 0.05, dtype: float64
0    8759.823513
Name: 0.1, dtype: float64
0    9321.696234
Name: 0.15, dtype: float64
0    10884.648888
Name: 0.25, dtype: float64
0    12140.573855
Name: 0.5, dtype: float64
0    12972.198971
Name: 0.75, dtype: float64
0    14128.580993
Name: 0.95, dtype: float64
0    14736.978385
Name: 0.99, dtype: float64

In [191]:
print(measure.describe())

dataframe = measure.describe()
dataframe

                  0
count    973.000000
mean   11676.908536
std     2002.928419
min        0.000000
25%    10884.648888
50%    12140.573855
75%    12972.198971
max    15556.950175

                  0
count    973.000000
mean   11676.908536
std     2002.928419
min        0.000000
25%    10884.648888
50%    12140.573855
75%    12972.198971
max    15556.950175